main.main {
  display: flex;
  width: 100%;
}

.items-container {
  display: grid;

  width: 1400px;
  padding: 40px;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.draggable {
  cursor: pointer;

  transition: opacity 0.15s ease-in-out;
}

.draggable.dragging {
  opacity: 1;
}
